*.idea
*Backend
*cert
.DS_Store
StaticSite/.editorconfig
StaticSite/package-lock.json

returnyoutubedislike.com/Website/node_modules
returnyoutubedislike.com/Website/.nuxt
returnyoutubedislike.com/Website/.editorconfig
returnyoutubedislike.com/Website/dist/
returnyoutubedislike.com/Website/_nuxt

node_modules
.parcel-cache
dist
yarn-error.log