*cert
*Backend
.DS_Store
package-lock.json

# Website node modules and build output
Website/package-lock.json
Website/.editorconfig
Website/node_modules
Website/.nuxt
Website/dist/
Website/_nuxt

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

node_modules

# Build files
Extensions/combined/bundled-content-script.js

# Dist Files
Extensions/combined/dist/*
package-lock.json
Website/package-lock.json
