/* Variables */
:root {
    --primary: #CC2929;
    --accent: #581111;

    --background: #111;
    --secondary: #272727;
    --lightGrey: #999;
    --white: #fff;
}

/* Window Styling */
html,body {
    background-color: var(--background);
    color: var(--white);
    width: 300px;
    padding: 0.5em;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 26px;
}

button {
    color: var(--white);
    background: var(--secondary);
    cursor: pointer;
    padding: 5px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    transition: .4s;
}

button:hover {
    background: #444;
}

#advancedToggle {
    margin-top: 1em;
    margin-bottom: 2em;
}

#advancedSettings {
    display: none;
    border: 2px solid var(--secondary);
    border-radius: 4px;
    padding: 0.5em;
    margin-right: 1em; /* FIREFOX ONLY */
}

/*   Switches   */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-bottom: 0.5em;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--secondary);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background: var(--lightGrey);
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background: var(--accent);
}

input:checked+.slider:before {
    transform: translateX(13px);
    background: var(--primary);
}

.switchLabel {
    width: 250px !important;
    transform: translateX(35px);
    display: inline-block;
}