# This workflow lints the code in /Website, if any was committed

name: Website Lint

on:
  push:
    branches: 
      - main
    paths:
      - Website/**
  pull_request:
    branches: 
      - main
    paths:
      - Website/**

jobs:
  weblint:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: npm install
        working-directory: Website

      - name: Run lint
        run: npm run lint
        working-directory: Website
